/* min-width: 576px */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
        display: inherit;
    }

    .container-columns {
        max-width: 540px;
        display: inherit;
    }

    .container-grid {
        max-width: 540px;
    }
}

/* min-width: 768px */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
        display: inherit;
    }

    .container-columns {
        max-width: 720px;
        display: inherit;
    }

    .container-grid {
        max-width: 720px;
    }
}

/* min-width: 992px */
@media (min-width: 992px) {
    .container {
        max-width: 960px;
        display: flex;
    }

    .container-columns {
        max-width: 960px;
        display: flex;
    }

    .container-grid {
        max-width: 960px;
    }
}

/* min-width: 1200px */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        display: flex;
    }

    .container-columns {
        max-width: 1140px;
        display: flex;
    }

    .container-grid {
        max-width: 1140px;
    }
}

/* min-width: 1400px */
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
        display: flex;
    }

    .container-columns {
        max-width: 1320px;
        display: flex;
    }

    .container-grid {
        max-width: 1320px;
    }
}