@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

::-webkit-scrollbar {
    display: none;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2b2b2b;
    color: #FFF;
}

h1, h2, h3, h4, h5, h6, span {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

span {
    font-weight: 300;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

label {
    display: inline-block;
}

form {
    display: block;
    margin-top: 0em;
}

.h1, h1 {
    font-size: calc(1.375rem + 1.5vw);
}

.h2, h2 {
    font-size: calc(1.325rem + .9vw);
}

.h3, h3 {
    font-size: calc(1.3rem + .6vw);
}

.h4, h4 {
    font-size: calc(1.275rem + .3vw);
}

.h5, h5 {
    font-size: 1.25rem;
}

.h6, h6 {
    font-size: 1rem;
}

.link-text {
    color: #c9184a;
    text-decoration-line: underline;
    text-underline-offset: 1px;
}

.link-text:hover {
    text-decoration-line: none;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-floating {
    position: relative;
}

.form-floating>.form-control-plaintext~label, .form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
    opacity: .65;
}

.form-floating>label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem .75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}

.form-floating>.form-control-plaintext:focus, .form-floating>.form-control-plaintext:not(:placeholder-shown), .form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: .625rem;
}

.form-floating>.form-control, .form-floating>.form-control-plaintext {
    padding: 1rem .75rem;
}

.form-floating>.form-control, .form-floating>.form-control-plaintext, .form-floating>.form-select {
    height: calc(3.5rem + 2px);
    line-height: 1.25;
}

.btn {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border-radius: 0.375rem;
}

.btn-pink {
    color: #fff;
    border: 1px solid #c9184a;
    background-color: #c9184a;
}

.btn-pink:hover {
    color: #c9184a;
    border: 1px solid #c9184a;
    background-color: #fff;
}

.btn-outline-pink {
    color: #c9184a;
    border: 1px solid #c9184a;
    background-color: #fff;
}

.btn-outline-pink:hover {
    color: #fff;
    border: 1px solid #c9184a;
    background-color: #c9184a;
}

/* Classes novas */

/* View height */
.vh-100 {
    height: 100vh;
}

/* Padding */
.p-0 {
    padding: 0;
}

.p-1 {
    padding: 0.5rem;
}

.p-2 {
    padding: 1rem;
}

.p-3 {
    padding: 1.5rem;
}

.p-4 {
    padding: 2rem;
}

.p-5 {
    padding: 2.5rem;
}

/* Margin */
.px-0 {
    padding: auto 0;
}

.px-1 {
    padding: auto 0.5rem;
}

.px-2 {
    padding: auto 1rem;
}

.px-3 {
    padding: auto 1.5rem;
}

.px-4 {
    padding: auto 2rem;
}

.px-5 {
    padding: auto 2.5rem;
}

/* Margin */
.m-0 {
    margin: 0;
}

.m-1 {
    margin: 0.5rem;
}

.m-2 {
    margin: 1rem;
}

.m-3 {
    margin: 1.5rem;
}

.m-4 {
    margin: 2rem;
}

.m-5 {
    margin: 2.5rem;
}

/* Margin */
.mx-0 {
    margin: auto 0;
}

.mx-1 {
    margin: auto 0.5rem;
}

.mx-2 {
    margin: auto 1rem;
}

.mx-3 {
    margin: auto 1.5rem;
}

.mx-4 {
    margin: auto 2rem;
}

.mx-5 {
    margin: auto 2.5rem;
}

/* Margin bottom */
.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 0.5rem;
}

.mb-2 {
    margin-bottom: 1rem;
}

.mb-3 {
    margin-bottom: 1.5rem;
}

.mb-4 {
    margin-bottom: 2rem;
}

.mb-5 {
    margin-bottom: 2.5rem;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.align-self-center {
    align-self: center;
}

.d-flex {
    display: flex !important;
}

.container {
    width: 100%;
    padding-right: calc(1.5rem * .5);
    padding-left: calc(1.5rem * .5);
    margin-right: auto;
    margin-left: auto;
}

.container-columns {
    width: 100%;
    padding-right: calc(1.5rem * .5);
    padding-left: calc(1.5rem * .5);
    margin-right: auto;
    margin-left: auto;
}

.container-pdf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 0 auto;
}