@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

::-webkit-scrollbar {
    display: none;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2b2b2b;
    color: #FFF;
}

h1, h2, h3, h4, h5, h6, span {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

span {
    font-weight: 300;
}

.h1, h1 {
    font-size: calc(1.375rem + 1.5vw);
}

.h2, h2 {
    font-size: calc(1.325rem + .9vw);
}

.h3, h3 {
    font-size: calc(1.3rem + .6vw);
}

.h4, h4 {
    font-size: calc(1.275rem + .3vw);
}

.h5, h5 {
    font-size: 1.25rem;
}

.h6, h6 {
    font-size: 1rem;
}

.btn-outline-pink {

}

.btn {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid #c9184a;
    border-radius: 0.375rem;
    background-color: #c9184a;
}

/* Classes novas */
.vh-100 {
    height: 100vh;
}

.p-0 {
    padding: 0;
}

.p-1 {
    padding: 0.5rem;
}

.p-2 {
    padding: 1rem;
}

.p-3 {
    padding: 1.5rem;
}

.p-4 {
    padding: 2rem;
}

.p-5 {
    padding: 2.5rem;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 0.5rem;
}

.mb-2 {
    margin-bottom: 1rem;
}

.mb-3 {
    margin-bottom: 1.5rem;
}

.mb-4 {
    margin-bottom: 2rem;
}

.mb-5 {
    margin-bottom: 2.5rem;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.align-self-center {
    align-self: center;
}

.d-flex {
    display: flex !important;
}

.container {
    width: 100%;
    padding-right: calc(1.5rem * .5);
    padding-left: calc(1.5rem * .5);
    margin-right: auto;
    margin-left: auto;
}

.container-columns {
    width: 100%;
    padding-right: calc(1.5rem * .5);
    padding-left: calc(1.5rem * .5);
    margin-right: auto;
    margin-left: auto;
}

/* Classes antigas */
.sticky {
    transition: 0.5s;
    background-color: rgba(200, 179, 240, 1);
    box-shadow: 1px 3px 10px rgba(0,0,0,0.3);
    /* background-image: linear-gradient(45deg, #ff91ed, #49bcff); */
}

.logo {
    width: 64px;
    min-width: 64px;
    image-rendering: optimizeQuality;
}

.nome {
    font-size: 18pt;
    color: rgb(255, 255, 255);
    margin-left: 10px;
}

#btn-mobile {
    display: none;
    z-index: 10000;
    position: relative;
    border: 1px solid white;
    background: 0;
    padding: 10px;
    color: white;
    margin: 10px;
}

.menu {
    height: 100%;
}

.menu ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    align-items: flex-end;
    gap: .5rem;
}

.menu ul li {
    width: 12rem;
    text-align: center;
    padding: 10px;
    border: 1px solid rgb(255, 170, 227);
}

.menu ul li:hover{
    border: 1px solid #fff;
    border-radius: 5px;
    color: rgb(255, 170, 227);
}

.menu ul li a {
    border-radius: 5px;
    font-size: 1.5rem;
}

.help {
    color: #FFF;
    background-color: rgb(243, 21, 21);
    border: 1px solid rgb(243, 21, 21);
    border-radius: 5px;
}

.container-ebook {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
    color: #2b2b2b;
    background-color: rgba(255,255,255,0.7);
}

.container-ebook h1 {
    font-size: 22pt;
    padding: 50px;
}

.container-ebook div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* width: 100%; */
}

.container-ebook div embed {
    width: 500px; 
    height: 650px;
}

.container-ebook div a{
    color: #2b2b2b;
    font-size: 18pt;
    text-align: center;
    margin: 20px;
}

.container-ebook div a span{
    color: #c01b1b;
    font-size: 22pt;
}

.conteudo-ebook {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.conteudo-ebook p{
    font-size: 16pt;
}

.container-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px;
    background-color: #2b2b2b;
}

.botao {
    background-color: #00be19;
    padding: 25px;
    border-radius: 40px;
    font-weight: 700;
}

.contato {
    color: #fff;
    background-color: rgba(200, 179, 240, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.contato form {
    width: 90%;
    max-width: 600px;
    display: block;
}

.contato > form div {
    display: flex;
    flex-direction: column;
    /* max-width: 400px; */
    margin-top: 10px;
}

.contato > form div label{
    font-size: 1.2rem;
}

.contato > form div input{
    border: 0;
    height: 30px;
    font-size: 1.2rem;
    border-radius: 13px;
    padding: 0 20px;
}

.contato > form div textarea{
    border: 0;
    padding: 10px;
    font-size: 1.2rem;
    font-family: 'Quicksand', sans-serif;
    height: 100px;
}
.container-message-alert {
    display: none!important;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-message-alert.active{
    display: flex!important;
}

.message-alert {
    color: #ff3333;
}

.alert {
    border: 1px solid #ff4444!important;
}

.recaptcha {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.enviar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.enviar > button {
    padding: 10px 40px;
    border-radius: 40px;
    border: 0;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    background-color: #00be19;
}

.dados {
    max-width: 1200px;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dados address {
    display: flex;
    flex-direction: column;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}

.link {
    padding: 15px;
    margin-left: 10px;
}

.container-copy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.copy {
    display: flex;
    font-size: 1.1rem;
    /* padding: 15px; */
    text-align: center;
}

.codever {
    color: #4a99ff;
}

.heart {
    display: flex;
    flex-direction: row;
    color: red;
    padding: 0 5px;
    animation: loading 2s linear infinite;
}

#insta-user-link {
    font-size: 14pt;
    color:#fff;
    padding: 2px 5px;
    border-radius: 20px;
    background: linear-gradient(145deg,#c40092 0%,#e40031 100%);
}

@keyframes loading {
	0% {
		transform: rotateY(0);
	}
	100% {
		transform: rotateY(360deg);
	}
}