html, body, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-image: url("../img/back.jpg");
    image-rendering: optimizeQuality;
    background-repeat: repeat-y;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
}

a {
    color: #FFF;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 300px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    transition: 0.3s;
    background: rgba(0,0,0,0);
    padding: 20px;
    z-index: 10000;
}

.sticky {
    transition: 0.5s;
    background-image: linear-gradient(45deg, #ff91ed, #49bcff);
}

header div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 64px;
    min-width: 64px;
    image-rendering: optimizeQuality;
}

.nome {
    font-size: 18pt;
    color: rgb(255, 255, 255);
    margin-left: 10px;
}

#btn-mobile {
    display: none;
    z-index: 10000;
    position: relative;
    border: 1px solid white;
    background: 0;
    padding: 10px;
    color: white;
    margin: 10px;
}

@media (max-width: 600px) {
    #btn-mobile {
        display: block;
    }

    #lista {
        display: none;
        position: absolute;
        width: 100%;
        height: calc(100vh - 108px);
        top: 108px;
        right: 0;
        background-image: linear-gradient(rgb(255, 162, 235), #6ecaff);
        z-index: 1000;
        text-align: center;
    }

    #nav.active #lista {
        display: block;
        /* flex-direction: column; */
    }

    #nav.active #lista li {
        display: block;
        /* width: 100%; */
        margin-top: 20px;
    }
}

@media (max-width: 447px) {
    #lista {
        height: calc(100vh - 166px);
        top: 166px;
    }

    .sobre {
        margin-top: 166px;
    }

    header {
        justify-content: center;
    }
}

@media (max-width: 374px) {
    #lista {
        height: calc(100vh - 196px);
        top: 196px;
    }

    .sobre {
        margin-top: 196px;
    }

    header {
        justify-content: center;
    }
}

.menu {
    height: 100%;
}

.menu ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    align-items: flex-end;
    gap: .5rem;
}

.menu ul li {
    /* width: 10rem; */
    padding: 10px;
    border: 1px solid rgb(255, 170, 227);
}

.menu ul li:hover{
    border: 1px solid #fff;
    border-radius: 5px;
    color: rgb(255, 170, 227);
}


.menu ul li a {
    border-radius: 5px;
    font-size: 1.5rem;
}

.help {
    color: #FFF;
    background-color: rgb(243, 21, 21);
    border: 1px solid rgb(243, 21, 21);
    border-radius: 5px;
}

img {
    width: 250px;
    min-width: 300px;
}

.sobre {
    padding: 30px;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* background-color: #2b2b2b; */
}

.sobre article {
    color: #fff;
    width: 40%;
    padding: 20px;
}

.sobre article p {
    text-shadow: 3px 3px 10px rgb(61, 61, 61);
}

@media (max-width: 690px) {

    .sobre article {
        width: 100%;
    }

    .sobre {
        position: relative;
        margin-top: 120px;
    }

}

@media (max-width: 447px) {
    .sobre {
        position: relative;
        margin-top: 196px;
    }

    .sobre article {
        padding: 0;
    }
}

.sobre article p {
    font-size: 1.4rem;
}

.titulo {
    text-align: center;
    font-size: 3rem;
}

section img {
    border: 4px solid #fff;
    border-radius: 10px;
    max-width: 50%;
    width: 30%;
    image-rendering: optimizeQuality;
    image-resolution: inherit;
}

.container-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px;
    background-color: #2b2b2b;
}

@media (max-width: 500px) {
    .container-botao {
        margin-top: 3rem;
    }
}

.botao {
    background-color: #00be19;
    padding: 25px;
    border-radius: 40px;
    font-weight: 700;
}

.contato {
    color: #fff;
    background-color: rgba(200, 179, 240, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.contato form {
    width: 90%;
    max-width: 600px;
    display: block;
}

.contato > form div {
    display: flex;
    flex-direction: column;
    /* max-width: 400px; */
    margin-top: 10px;
}

.contato > form div label{
    font-size: 1.2rem;
}

.contato > form div input{
    border: 0;
    height: 30px;
    font-size: 1.2rem;
    border-radius: 13px;
    padding: 0 20px;
}

.contato > form div textarea{
    border: 0;
    padding: 10px;
    font-size: 1.2rem;
    font-family: 'Quicksand', sans-serif;
    height: 100px;
}

.recaptcha {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.enviar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.enviar > button {
    padding: 10px 40px;
    border-radius: 40px;
    border: 0;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    background-color: #00be19;
}

/* FOOTER */

footer {
    /* position: fixed;
    bottom: 0; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2b2b2b;
    color: #FFF;

}

.dados {
    max-width: 1200px;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dados address {
    display: flex;
    flex-direction: column;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}

.link {
    padding: 15px;
    margin-left: 10px;
}

.container-copy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.copy {
    display: flex;
    font-size: 1.1rem;
    /* padding: 15px; */
    text-align: center;
}

.copy .codever {
    color: #4a99ff;
}

.heart {
    display: flex;
    flex-direction: row;
    color: red;
    padding: 0 5px;
    animation: loading 2s linear infinite;
}

@keyframes loading {
	0% {
		transform: rotateY(0);
	}
	100% {
		transform: rotateY(360deg);
	}
}